---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="container has-text-centered">
    <p class="subtitle">
      Published on: <b>{frontmatter.pubDate}</b>
    </p>
    <p class="is-size-4 has-text-centered">
      <em>{frontmatter.description}</em>
    </p>
    <p class="subtitle">Written by: <b>{frontmatter.author}</b></p>
    <p class="is-size-6 is-italic">
      Updated on: <b>{frontmatter.lastUpdate}</b>
    </p>

    <div class="tags is-flex is-justify-content-center">
      Tags:
      {
        frontmatter.tags.map((tag) => (
          <span class="tag is-medium is-hoverable is-rounded">
            <a href={`/tags/${tag}`}>{tag}</a>
          </span>
        ))
      }
    </div>
  </div>
  <hr />
  <div class="container is-size-5 has-text-justified mt-5">
    <slot />
  </div>
</BaseLayout>
